<div class="row">
	<div class="col-md-6" id="home-info-panel">
		<%= render 'shared/info_panel' %>
	</div>
	<div class="col-md-4" id="signup-panel">
		<%= render 'shared/signup_form' %>
  </div>
</div>
