<footer class="footer navbar-fixed-bottom">
	<small>Powered by <a href="http://www.lynxusapp.com">Lyxnus.</small>
	<nav>
		<ul>
			<li><%= link_to "About", 		about_path %></li>
			<li><%= link_to "Contact", 	contact_path %></li>
		</ul>
	</nav>
</footer>